// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}

.navbar-logo {
    max-height: 50px;
    max-width: 50px;
}

.footer {
    font-size: 85%;
    font-family: $font-family-sans-serif;
}

.footer a {
    color: $scouting-warm-grey;
    font-weight: 500;
}

.footer a:focus, .footer a:hover {
    color: $my-bright-blue;
}

.event-summary span {
    font-weight: 750;
    font-size: 80%;
}

.event-date span {
    font-weight: 750;
    font-size: 70%;
}

.event-location span {
    font-size: 70%;
}

.event-description span {
    font-size: 80%;
}

#logo-footer img {
    height: 2.5rem;
}
