// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

$scouting-serif: 'Roboto Slab';

// Color variable names beginning with "scouting-" are taken from the
// BSA suggested palette.  Additional colors are derived from the BSA
// palette by adjusting brightness or saturation (but never hue.)

$scouting-red:       #ce1126;
$cub-scouting-gold:  #fdc116;
$venturing-green:    #006b3f;
$scouting-pale-blue: #9ab3d5;
$my-bright-blue:     #0061CF;
$scouting-blue:      #003f87;
$scouting-dark-blue: #003366;
$scouting-light-tan: #e9e9e4;
$scouting-tan:       #d6cebd;
$scouting-dark-tan:  #ad9d7b;
$my-light-grey:      #D6D9D9;
$scouting-pale-grey: #858787;
$scouting-warm-grey: #515354;
$scouting-dark-grey: #232528;
$scouting-white:     #ffffff;

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the body background and text
// $body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
//$border-radius: 15px;

// Changing the theme colors
$primary: $scouting-blue;
$secondary: $scouting-tan;
$success: $venturing-green;
$info: $scouting-pale-blue;
$warning: $cub-scouting-gold;
$danger: $scouting-red;
$light: $my-light-grey;
$dark: $scouting-warm-grey;

//$navbar-light-active-color:
$navbar-light-color: $scouting-warm-grey;
//$navbar-light-disabled-color:
$navbar-light-hover-color: $my-bright-blue;
$navbar-light-toggler-border-color: $scouting-warm-grey;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
    "gold": $cub-scouting-gold
);

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: $scouting-serif, Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-serif !default;

