<p>In addition to regular pack and den meetings, we offer many
activities throughout the year, and most are open to both the scouts
and their families.  These activities include fall and spring camping
trips, a winter overnight adventure, service projects, and many
recreational activities.

<ul id="events-upcoming" class="list-unstyled">
</ul>
<ul id="events-past" class="list-unstyled">
</ul>
